@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    /* цвета */
    --color-black: #121212;
    --color-brand: #FF8717;
    --color-dark: #474747;
    --color-brand-hover: #e57914;
    --color-bg: #f0f0f0;
    /* --color-border: #efefef; */
    --color-blue: #178fff;
    --color-white: #fff;

    /* шрифты */
    --font-family: 'Montserrat', 'Arial', sans-serif;
    --font-size: 18px;

    /* другое */
    --margin-bottom: 100px;
    --border-radius--small: 20px;
    --border-radius--big: 60px;
}

/* *звездочка означает для всех элементов */
/* global */
/* глобальные стили */
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg);
    color: var(--color-dark);
    font-family: var(--font-family), 'Arial', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.page-section {
    padding: 80px 0;
}

.page-section--white {
    background-color: var(--color-white);
    padding: 60px 0;
}

.page-section--dark {
    background-color: var(--color-dark);
    padding: 60px 0;
}

.page-section__cnt {
    padding-bottom: 80px;
}

.page-footer {
    background-color: var(--color-dark);
    color: var(--color-white);
    padding: 60px 0 20px 0;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 48px;
    border-radius: var(--border-radius--small);
    text-decoration: none;
}

.arrow {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* стили хэдера */
.page-header__row {
    padding-top: 22px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 54px;
}

.page-header__toggle-menu {
    display: none;
}

.page-header__nav {
    flex-grow: 1;
}

.page-header__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

.page-header__menu a {
    color: var(--color-dark);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.page-header__menu a:hover {
    color: var(--color-brand);
    border-bottom: 1px solid var(--color-brand);
}

.page-header__tel {
    color: var(--color-dark);
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 14px;
    transition: all 0.3s ease;
}

.page-header__tel:hover {
    color: var(--color-brand);
}

.text--white {
    color: var(--color-white);
}

/* стили футера */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.footer__logo {
    display: flex;
    justify-content: space-between;
    gap: 55px;
}

.footer__logo-name {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.96px;
}

.footer__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.btn-primary {
    border: 1px solid var(--color-white);
    color: var(--color-white);
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--color-white);
    color: var(--color-dark);
}

.btn-secondary {
    background-color: var(--color-white);
    color: var(--color-dark);
    transition: all 0.3s ease;

}

.btn-secondary:hover {
    background-color: var(--color-brand);
    color: var(--color-white);
}

.footer-socials {
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;
}

.footer-socials__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid var(--color-white);
    transition: all 0.2s ease;
}

.footer-socials__icon:hover path,
.footer-socials__icon:hover {
    border: 1px solid var(--color-brand);
    stroke: var(--color-brand);
    fill: var(--color-brand);
}

.footer__menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 215%;
}

.footer__menu-list a {
    text-decoration: none;
    color: var(--color-white);
    transition: all 0.3s ease;

}

.footer__menu-list a:hover {
    color: var(--color-brand);
}

.footer__address {
    line-height: 150%;
}

.footer__tel {
    line-height: 150%;
}

.footer__email {
    line-height: 400%;
}

.footer__menu-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 125%;
    margin: 0;
    margin-bottom: 26px;
}

.footer__copyright {
    display: flex;
    justify-content: center;
    padding-top: 20px;

}

.footer__copyright p {
    font-size: 16px;
}

/* стили блока подпишись */
.sign-up {
    display: grid;
    text-align: center;
    gap: 30px;
}

.sign-up__title {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-black);
    margin: 0;
    padding: 0;
}

.sign-up__text {
    padding: 0;
    margin: 0;
}

.sign-up input {
    width: 330px;
    height: 50px;
    border-radius: var(--border-radius--small);
    outline: none;
    border: 1px solid var(--color-dark);
    padding: 14px 20px;
    font-size: 18px;
    margin-right: 40px;
}

.sign-up input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.sign-up input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.sign-up input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.sign-up input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.sign-up input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sign-up input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sign-up input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sign-up input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sign-up button {
    width: 220px;
    height: 48px;
    background-color: var(--color-brand);
    border: none;
    outline: none;
    border-radius: var(--border-radius--small);
    color: var(--color-white);
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sign-up button:hover {
    background-color: var(--color-brand-hover);
}

/* стили блока обратной связи */
.feedback {
    display: flex;
    gap: 60px;
}

.feedback__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feedback__title {
    margin: 0;
    font-size: 28px;
    font-weight: 600;
}

.feeback__text {
    width: 600px;
    margin: 0;
    font-size: 22px;
}

.feedback__form {
    display: flex;
    flex-flow: column wrap;
}
.feedback__form input {
    width: 480px;
    height: 60px;
    border-radius: var(--border-radius--big);
    border: 1px solid var(--color-dark);
    background-color: var(--color-bg);
    padding: 19px 20px;
    font-size: 18px;
    color: var(--color-dark);
    margin-bottom: 20px;
}

/* плавное изменение прозрачности  placeholder-а при фокусе */
.feedback__form input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.feedback__form input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.feedback__form input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.feedback__form input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.feedback__form input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.feedback__form input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.feedback__form input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.feedback__form input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.feedback__form button {
    width: 480px;
    height: 60px;
    border-radius: var(--border-radius--big);
    border: 1px solid var(--color-dark);
    background-color: var(--color-dark);
    color: var(--color-white);
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.feedback__form button:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}

/* стили блока найти номер */
.book input {
    margin: 0;
    padding: 20px 10px;
    /* margin-right: 60px; */
    width: 240px;
    height: 64px;
    border-radius: var(--border-radius--small);
    box-sizing: border-box;
    border: none;
    background-color: var(--color-bg);
    color: var(--color-black);

}

/* плавное изменение прозрачности  placeholder-а при фокусе */
.book input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.book input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.book input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.book input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.book input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.book input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.book input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.book input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.book input[type="button"] {
    margin: 0;
    padding: 0;
    width: 240px;
    height: 64px;
    border-radius: var(--border-radius--small);
    border: none;
    background-color: var(--color-brand);
    color: var(--color-black);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2 ease;
}

.book input[type="button"]:hover {
    background-color: var(--color-brand-hover);
}

.book__form {
    display: flex;
    justify-content: space-between;
}

/* стили баннера */
.banner {
    height: 356px;
    background-position: center;
}

.banner-offers {
    background-image: url(../images/banner-spec-of.jpg);
    background-size: cover;
}

.banner-entertainment {
    background-image: url(../images/friends-outdoors.jpg);
    background-size: cover;
}

.banner-events {
    background-image: url(../images/banner-events.jpg);
    background-size: cover;
}

.banner-accomodation {
    background-image: url(../images/banner-acc.jpg);
    background-size: cover;
}

.banner-teambuilding {
    background-image: url(../images/banner-tb.jpg);
    background-size: cover;
}

.banner-contact {
    background-image: url(../images/banner-contact.jpg);
    background-size: cover;
}

.banner-booking {
    background-image: url(../images/banner-booking.jpg);
    background-size: cover;
}

.banner__title {
    margin: 0;
    padding: 140px;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 5%;
    color: var(--color-black);
}

.banner__title--white {
    color: var(--color-white);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.banner__text {
    color: var(--color-black);
    text-align: center;
    font-size: 24px;
    line-height: 35px;
    /* 145.833% */
}

.banner__btn {
    display: inline-flex;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: var(--border-radius--small);
    background-color: var(--color-dark);
    color: var(--color-white);
    transition: all 0.3s ease;
}

.banner__btn:hover {
    background-color: var(--color-brand);
}

.banner-teambuilding__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* СТИЛИ СТРАНИЦЫ АКЦИИ */

/* стили блока акции спецпредожения */
.offers__title {
    padding-bottom: 40px;
    font-size: 36px;
    font-weight: 600;
    color: var(--color-black);
    letter-spacing: 5%;
}

.offers-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

.offers-box__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-decoration: none;
    color: inherit;
}

.offers-box__img {
    border-radius: 45px 45px 0 0;
    transition: all 0.3s ease-in;
}

.offers-box__img:hover {
    transform: scale(1.05, 1.05);
}

.offers-box__img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.25s ease;
}

.offers-box__title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2%;
    color: var(--color-black);
}

.offers-box__text {
    width: 238px;
    margin: 0;
}

.offers-box__desc {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.offers-box__arrow {
    background-color: var(--color-brand);
}

.offers-box__arrow:hover {
    background-color: var(--color-brand-hover);
}

/* СТИЛИ СТРАНИЦЫ ЧЕМ ЗАНЯТЬСЯ */

/* стили текстового блока о развлечениях */
.entartainment-info__text {
    font-size: 28px;
    letter-spacing: 5%;
    text-align: center;
}

.entartainment-info__buttons {
    text-align: center;
    padding: 40px 0;
}

.entartainment-info__buttons a {
    text-decoration: none;
    padding: 16px 50px;
    letter-spacing: 5%;
}

.entartainment-info__btn-primary {
    background-color: var(--color-brand);
    border: 2px solid var(--color-brand);
    color: var(--color-white);
    font-size: 20px;
    font-weight: 500;
    border-radius: var(--border-radius--small);
    margin-right: 40px;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

.entartainment-info__btn-primary:hover {
    background-color: transparent;
    color: var(--color-brand);
}

.entartainment-info__btn-secondary {
    border: 2px solid var(--color-brand);
    color: var(--color-brand);
    font-size: 20px;
    font-weight: 500;
    border-radius: var(--border-radius--small);
    box-sizing: border-box;
    transition: all 0.2s ease;
}

.entartainment-info__btn-secondary:hover {
    background-color: var(--color-brand);
    color: var(--color-white);
}

/* стили сетки развлечения */
.entertainment-grid {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(7, 230px);
    gap: 20px;
}

.entertainment-grid__item {
    grid-column: span 4;
    grid-row: span 2;
    position: relative;
    border-radius: var(--border-radius--big);
    overflow: hidden;
    text-decoration: none;
    color: var(--color-white);
}

.entertainment-grid__item:hover::after {
    opacity: 0.7;
}

.entertainment-grid__item:hover .entertainment-grid__img {
    transform: scale(1.05, 1.05);
}

.entertainment-grid__item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    transition: opacity 0.25s ease;
}

.entertainment-grid__item:first-child {
    grid-row: span 3;
    grid-column: span 6;
}

.entertainment-grid__item:nth-child(4) {
    grid-row: span 1;
    grid-column: span 8;
}

.entertainment-grid__item:nth-child(5) {
    grid-column: 1;
    grid-column: span 7;
}

.entertainment-grid__item:nth-child(6) {
    grid-column: span 7;
}

.entertainment-grid__item:last-child {
    grid-column: span 6;
}

.entertainment-grid__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.entertainment-grid__title {
    position: relative;
    z-index: 1;
    padding: 40px;
    font-size: 26px;
    font-weight: 700;
}

/* СТИЛИ СТРАНИЦЫ МЕРОПРИЯТИЯ */

/* стили блока с мероприятиями */
.events__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.events-info__img--right {
    border-radius: 130px 0 0;
}

.events-info__img--left {
    border-radius: 0 130px 0 0;
}

.events {
    display: grid;
    gap: 80px;
}

.events-info__title {
    margin: 0;
    font-size: 32px;
    font-weight: 600;
}

.events-info__text {
    margin: 40px 0 54px 0;
    width: 412px;
    font-size: 20px;
    line-height: 125%;
}

.events-info__btn {
    text-decoration: none;
    border: 2px solid var(--color-brand);
    color: var(--color-brand);
    font-weight: 600;
    padding: 14px 62px;
    border-radius: var(--border-radius--small);
    transition: all 0.3s ease;
}

.events-info__btn:hover {
    background-color: var(--color-brand);
    color: var(--color-white);
}

/* СТИЛИ СТРАНИЦЫ ПРОЖИВАНИЕ */

/* переключатель отеля номеров */
.rooms {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.rooms__group {
    border: 1px solid var(--color-brand);
    display: flex;
    box-sizing: border-box;
    width: 1140px;
    border-radius: 24px;
}

.radiobox {
    flex: 1;
    cursor: pointer;
}

.radiobox input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.radiobox input[type="radio"]:checked+.radiobox__text {
    background-color: var(--color-brand);
    color: var(--color-white);
    border-radius: 24px;
}

.radiobox__text {
    display: block;
    text-align: center;
    padding: 28px;
    font-size: 18px;
    font-weight: 600;
    line-height: 125%;
}

/* стили блока с номерами */
.rooms__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.rooms-preview {
    text-decoration: none;
    color: inherit;
}

.rooms-preview__img {
    position: relative;
}

.rooms-preview__img p {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    transition: 0.5s;
    width: 98%;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 5px solid var(--color-brand);
    padding: 10px 5px;
    color: var(--color-white);
}

.rooms-preview__img:hover .rooms-preview__img p {
    opacity: 1;
}

.rooms-preview__img:hover p {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.rooms-preview__title {
    margin: 0;
    padding-top: 20px;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
}

.rooms-preview__text {
    margin: 0;
    font-size: 22px;
    line-height: 150%;
}

.rooms-pewview__desc {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* СТИЛИ СТРАНИЦЫ ТИМБИЛДИНГ */

/* стили блока информации о тимбилдингах */
.info-panel {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
}

.info-panel__item {
    width: 286px;
}

.info-panel__text {
    font-size: 24px;
}

.info-text {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding: 0 200px 80px 200px;
}

.info-panel__svg {
    transition: all 0.3s ease;
}

.info-panel__svg:hover {
    z-index: -1;
    padding: 10px;
}

/* стили слайдера площадки и спецоборудование */
.equipment {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.equipment__title {
    margin: 0;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.4px;
}

.equipment-slider {
    display: flex;
    justify-content: space-between;
}

.equipment-slider__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-decoration: none;
    color: inherit;
}

.equipment-slider__img {
    border-radius: var(--border-radius--big) var(--border-radius--big) 0 0;
    transition: all 0.4s ease;
}

.equipment-slider__img:hover {
    filter: brightness(50%);
}

.equipment-slider__text {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 36px */
    letter-spacing: 0.24px;
}

.equipment-slider__desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.equipment-slider__arrow {
    background-color: var(--color-white);
    transition: all 0.3s ease;
}

.equipment-slider__arrow:hover {
    background-color: var(--color-brand);
}

.equipment-slider__buttons-box {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.equipment-slider__button {
    padding: 10px 15px;
    border-radius: 15px;
    border: 2px solid var(--color-brand);
    cursor: pointer;
}

.equipment-slider__button:hover {
    border: 2px solid var(--color-brand-hover);
}

.equipment-slider__button path:hover {
    stroke: var(--color-brand-hover);
}

/* стили блока готовые сценарии тимбилдингов */
.teambuilding-scenario {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.teambuilding-scenario__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.teambuilding-scenario__item {
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: var(--color-white);
    border-radius: var(--border-radius--small);
    padding: 50px 40px;
    transition: all 0.3s ease;
}

.teambuilding-scenario__item::before {
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background: linear-gradient(to left top, var(--color-brand) 10%, transparent 30%, transparent 70%, var(--color-blue) 90%);
    border-radius: var(--border-radius--small);
    z-index: -1;
    opacity: 0%;
    transition: all 0.3s ease;
}

.teambuilding-scenario__item:hover::before {
    transform: rotate(360gr);
    opacity: 50%;
}

.teambuilding-scenario__title {
    margin: 0 0 60px 0;
    color: var(--color-brand);
    font-size: 40px;
    font-weight: 600;
}

.teambuilding-scenario__text {
    color: var(--color-black);
    font-size: 20px;
    padding: 0;
    margin: 0 0 10px 0;
}

.teambuilding-scenario__price {
    margin: 60px 0 0 0;
    padding: 0;
    color: var(--color-black);
    font-size: 24px;
}

.teambuilding-scenario__more {
    background-color: var(--color-bg);
}

/* стили блока мастер-классы */
.master-class {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.master-class__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 40px;
}

.master-class___grid-item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    background-color: var(--color-bg);
    border-radius: var(--border-radius--small);
    padding: 20px 10px;
    text-decoration: none;
    color: var(--color-black);
}

.master-class___grid-item::before {
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background: linear-gradient(to left top, var(--color-brand) 10%, transparent 30%, transparent 70%, var(--color-blue) 90%);
    border-radius: var(--border-radius--small);
    z-index: -1;
    opacity: 0%;
    transition: all 0.3s ease;
}

.master-class___grid-item:hover::before {
    transform: rotate(360gr);
    opacity: 50%;
}

.master-class__desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.master-class__name {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
}

.master-class__text {
    text-align: center;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.2px;
}

.master-class__more {
    background-color: var(--color-white);
}

/* СТИЛИ СТРАНИЦЫ КОНТАКТЫ */

.contact {
    display: flex;
    flex-direction: column;
    gap: 60px
}

.contact__heading {
    margin: 0;
    padding: 0;
    /* padding-bottom: 20px; */
    color: var(--color-dark);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
}

.contact__title {
    color: var(--color-brand);
    font-size: 24px;
    text-transform: uppercase;
}

.contact__tel {
    text-decoration: none;
    color: var(--color-black);
    font-size: 40px;
    font-weight: 600;
    line-height: 0%;
    /* 0px */
    letter-spacing: 0.4px;
}

.contact__email {
    text-decoration: none;
    color: var(--color-black);
    font-size: 32px;
    line-height: 0%;
    /* 0px */
    letter-spacing: 0.32px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.contact-info__map {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-info__text {
    padding: 20px 0 0 0;
    margin: 0;
    color: var(--color-black);
    line-height: 130%;
    /* 23.4px */
    letter-spacing: 0.9px;
}

.contact-info__text a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s ease;
}

.contact-info__text a:hover {
    color: var(--color-brand);
}

.contact-info__transport {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact-info__box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.contact-accordion__header {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0 0 20px 0;
    border-bottom: 3px solid var(--color-black);
    cursor: pointer;
    transition: all 0.2s ease;
}

.contact-accordion__item_show .contact-accordion__icon,
.contact-accordion__item_slidedown .contact-accordion__header::after {
    transform: rotate(-180deg);
}

.contact-accordion__header:hover {
    color: var(--color-brand);
}

.contact-accordion__title {
    color: var(--color-black);
    font-size: 24px;
    font-weight: 500;
    line-height: 0%;
    /* 0px */
    letter-spacing: 0.24px;
}

.contact-accordion__body {
    padding: 40px 0;
}

.contact-accordion__item:not(.contact-accordion__item_show) .contact-accordion__body {
    display: none;
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.contact-grid__heading {
    color: var(--color-dark);
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1.3px;
}

.contact-grid__text {
    color: var(--color-black);
    font-size: 18px;
    line-height: 130%;
    /* 23.4px */
}

.contact-grid__title {
    color: var(--color-dark);
    font-size: 20px;
    font-weight: 600;
}

.contact-grid__title-xs {
    color: var(--color-dark);
    font-size: 20px;
    font-weight: 500;
}

.contact__href {
    text-decoration: none;
    color: var(--color-black);
    transition: all 0.2s ease;
}

.contact__href:hover {
    color: var(--color-brand);
}

/* СТИЛИ СТРАНИЦЫ 404 */

.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.error__text {
    color: var(--color-black);
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1.2px;
}

.error-btn {
    width: 220px;
    height: 48px;
    background-color: var(--color-brand);
    color: var(--color-white);
    transition: all 0.3s ease;
}

.error-btn svg {
    margin-right: 16px;
}

.error-btn:hover {
    background-color: var(--color-brand-hover);
    font-size: 20px;
}

/* СТИЛИ СТРАНИЦЫ О НАС */

/* стили для карусели */

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1920px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    font-family: Montserrat;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* стили описание*/

.slide__title {
    color: var(--color-white, #FFF);
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.discription__title {
    color: var(--color-dark, #474747);
    text-align: center;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
    margin-top: 80px;
}

.discription__about {
    color: var(--color-brand, #FF8717);
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 40px;
    margin-bottom: 80px;
}

.discription__info {
    display: flex;
    justify-content: center;
    align-items: space-between;
    gap: 36px;
}

.discription__left {
    margin-bottom: 80px;
}

.events-info__item {
    width: 502px;
}

/* наши достижения*/

.success {
    display: flex;
    justify-content: center;
    align-items: space-between;
    height: 122px;
    margin: 80px;
    margin-top: 140px;
    margin-bottom: 140px;
}

.succeess__item-border {
    border-left: 2px solid var(--color-brand, #FF8717);
}

.succeess__item-num {
    color: var(--color-brand, #FF8717);
    font-family: Montserrat;
    font-size: 86px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

.succeess__item-text {
    display: flex;
    width: 192px;
    height: 158px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
}

/* стили для аккордиона */

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion__title {
    color: var(--color-black, #121212);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 36px */
}

.FAQ {
    display: flex;
    justify-content: center;
    align-items: center;
}

.FAQ__img {
    margin-left: 72px;
}

.faq__img--left {
    border-radius: 40px;
}


/* СТИЛИ ГЛАВНОЙ */

/* стили первого блока */

.main-banner {
    display: flex;
    justify-content: space-between;
}

.main-banner__img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.main-banner__img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    transition: opacity 0.25s ease;
}

.main-banner__info {
    display: flex;
    flex-direction: column;
}

.main-banner__title {
    color: var(--color-dark);
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 80px;
}

.main-banner__heading {
    color: var(--color-dark);
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 40px;
}

.main-banner__text {
    color: var(--color-dark);
    font-size: 18px;
    font-weight: 400;
    line-height: 125%;
    max-width: 406px;
    padding-bottom: 40px;
}

.main-banner__btn {
    position: relative;
    height: 54px;
    background-color: var(--color-brand);
    color: var(--color-white);
}

.main-banner__btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 54px;
    border-radius: var(--border-radius--small);
    background: rgba(255, 255, 255, 0.3);
    /* opacity: 50%; */
    transition: all 2s ease;
}

.main-banner__btn:hover:before {
    width: 100%;
}

/* стили блока о нас */

.about-hotel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.about-hotel__info {
    display: flex;
    flex-direction: column;
}

.about-hotel__title {
    color: var(--color-brand);
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 60px;
}

.about-hotel__heading {
    margin: 0;
    padding: 0;
    color: var(--color-dark);
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
}

.about-hotel__text {
    padding-bottom: 60px;
    font-size: 20px;
    line-height: 120%;
}

.about-hotel__btn {
    color: var(--color-brand);
    border: 2px solid var(--color-brand);
    font-weight: 600;
    transition: all 0.3s ease;
}

.about-hotel__btn:hover {
    background-color: var(--color-brand);
    color: var(--color-white);
}

/* стили блока наши ценности */

.values__title {
    color: var(--color-dark);
    font-size: 36px;
    font-weight: 700;
    line-height: 130%;
    /* 46.8px */
    text-align: center;
    padding-bottom: 20px;
}

.values__text {
    color: var(--color-black);
    text-align: center;
    font-size: 20px;
    line-height: 150%;
    /* 27px */
    padding-bottom: 40px;
}

.values-panel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 144px;
}

.values-panel__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.values-panel__svg {
    padding-bottom: 24px;
}

.values-panel__title {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    color: var(--color-dark);
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 150%;
    /* 30px */
}

.values-panel__text {
    margin: 0;
    padding: 0;
    color: var(--color-black);
    text-align: center;
    font-size: 18px;
    line-height: 160%;
    /* 25.6px */
}

/* стили блока мерпориятия */

.main-events__heading {
    color: var(--color-white);
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 125%;
    /* 50px */
    letter-spacing: 0.8px;
}

.main-events__text {
    padding: 0 210px 80px 210px;
    color: var(--color-white);
    text-align: center;
    font-size: 24px;
    line-height: 150%;
    /* 36px */
    letter-spacing: 0.24px;
}

.main-events__block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 150px;
    row-gap: 60px;
}

.main-events__item {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.main-events__item img {
    border-radius: 0px 270px 0px 0px;
}

.main-events__desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-events__title {
    margin: 0;
    padding: 0;
    color: var(--color-white);
    font-size: 28px;
    font-weight: 600;
    line-height: 125%;
    /* 35px */
    letter-spacing: 0.56px;
    padding-bottom: 4px;
}

.main-events__info {
    color: var(--color-white);
    font-size: 20px;
    line-height: 150%;
    /* 30px */
    letter-spacing: 0.2px;
}

.main-events__desc-svg {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-brand);
}

/* блок с отзывами */
.reviews {
    position: relative;
    padding: 80px 0;
    background-color: var(--color-white);
    border-radius: 80px;
}

.reviews__heading {
    margin: 0;
    text-align: center;
    padding-bottom: 60px;
    color: var(--color-dark);
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}

.reviews__elem {
    display: none;
    position: relative;
    margin: 0 295px 20px 295px;
    width: 550px;
    height: 400px;
    border-radius: var(--border-radius--big);
    background-color: var(--color-bg);
}

.quote {
    position: absolute;
    top: 40px;
    left: 35%;
}

.reviews__text {
    margin: 0;
    padding: 60px 20px 0 20px;
    color: var(--color-black);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 180%;
    /* 32.4px */
}

.reviews-person__name {
    color: var(--color-blue);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.reviews-person__title {
    margin: 0;
    padding: 0;
    color: rgba(18, 18, 18, 0.50);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    z-index: 10;
}

.reviews-portrait__buble {
    position: absolute;
    left: 180px;
    bottom: -55px;
    z-index: 0;
}

.reviews-portrait__img {
    border-radius: 50%;
    position: absolute;
    left: 220px;
    bottom: -45px;
}

/* блок с обратной связью  */

.main-feedback {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
}

.main-feedback__heading {
    margin: 0;
    color: var(--color-black);
    font-size: 28px;
    font-weight: 600;
    line-height: 140%;
    /* 39.2px */
    text-transform: uppercase;
}

.main-feedback__text {
    color: var(--color-black);
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    /* 28px */
    padding-bottom: 20px;
}

.main-feedback__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-feedback__form button {
    border: none;
    background-color: var(--color-brand);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.btn__arrow {
    background-color: var(--color-white);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/* стили блока как до нас добраться */
.travel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 160px;
}

.travel__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.travel__heading {
    margin: 0;
    color: var(--color-dark);
    font-size: 48px;
    font-weight: 600;
    line-height: 80px;
    /* 166.667% */
    letter-spacing: 1.44px;
}

.travel__text {
    color: var(--color-dark);
    font-size: 24px;
    line-height: 150%;
    /* 36px */
    letter-spacing: 0.24px;
}

.travel__text a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
}

.travel__text a:hover {
    color: var(--color-brand);
}

/* СТИЛИ СТРАНИЦЫ BOOKING */

.booking {
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
}


.page-content__title {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

/* стили формы */

.booking__form-title {
    margin: 0 0 20px 0;
    color: var(--color-dark);
    font-size: 40px;
    font-weight: 600;
    text-align: center;

}

.booking__form-text {
    font-size: 20px;
    text-align: center;
    padding-bottom: 40px;
}

.star {
    color: var(--color-brand);
    font-size: 14px;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.booking-field {
    display: grid;
    grid-template-columns: repeat(2, 270px);
    column-gap: 60px;
    row-gap: 40px;
}

.booking-field__box-comment {
    grid-column: span 2;
}

.booking-field__box {
    display: grid;
}

.booking-field__box input {
    width: 270px;
    height: 48px;
    border-radius: 24px;
    border: #D1D1D1 1px solid;
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 16px;
    color: var(--color-dark);
    font-family: inherit;
}

.booking-field__box input:focus {
    outline: none;
    border: var(--color-dark) 1px solid;
}

.booking-field__box input:required:focus {
    border: var(--color-brand) 1px solid;
    outline: none;
}

.booking-field__box textarea {
    border-radius: 24px;
    border: #D1D1D1 1px solid;
    resize: none;
    height: 96px;
    padding-left: 20px;
    padding-top: 14px;
    font-family: inherit;
    font-size: 16px;
}

.booking-field__box-comment:focus {
    outline: none;
    border: var(--color-dark) 1px solid;
}

.booking-field__box input[type="date"] {
    color: #999999;
    font-size: 16px;
    font-family: inherit;
    text-transform: uppercase;
    padding-left: 20px;
    cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.field__label {
    font-size: 14px;
    color: var(--color-dark);
    padding-left: 20px;
    padding-bottom: 10px;
    margin: 0;
}

.booking-field__group {
    padding: 8px;
    border: 1px solid grey;
    display: flex;
    box-sizing: border-box;
    width: 270px;
    border-radius: 24px;
    border: #D1D1D1 1px solid;
}

.booking-radiobox {
    flex: 1;
    cursor: pointer;
}

.booking-radiobox input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.booking-radiobox input[type="radio"]:checked+.booking-radiobox__text {
    background-color: var(--color-brand);
    color: #fff;
    border-radius: 24px;
}

.booking-radiobox__text {
    display: block;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 7px;
    font-size: 14px;
}

.personal-info__field {
    display: grid;
    grid-template-columns: repeat(2, 270px);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 60px;
    row-gap: 40px;
}

.personal-info__checkbox {
    grid-column: span 2;
}

.personal-info__field-box {
    display: grid;
}

.personal-info__field-box input {
    width: 270px;
    height: 48px;
    border-radius: 24px;
    border: #D1D1D1 1px solid;
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 16px;
    color: var(--color-dark);
    font-family: inherit;
}

.personal-info__field-box input:focus {
    border: var(--color-brand) 1px solid;
    outline: none;
}

.checkbox__label {
    position: relative;
    cursor: pointer;
}

.checkbox__label input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    clip-path: inset(100%);
}

.checkbox__label input[type="checkbox"]:checked+.checkbox__text::before {
    background-color: var(--color-brand);
    background-image: url(../images/checkmark.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.checkbox__text {
    display: flex;
    gap: 10px;
}

.checkbox__text::before {
    content: '';
    background-color: var(--color-white);
    border-radius: 4px;
    border: 2px solid var(--color-brand);
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}

.field__button {
    display: grid;
    justify-content: center;
}

.button-send {
    background-color: var(--color-brand);
    width: 280px;
    height: 48px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    outline: none;
    border: none;
    transition: all 0.3s ease;
}

.button-send__text {
    color: var(--color-white);
    font-size: 16px;
    font-weight: 600;
}

.button-send:hover {
    background-color: var(--color-brand-hover);
    cursor: pointer;
}

.select {
    width: 100%;
    font-family: inherit;
    font-size: 16px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: #D1D1D1 1px solid;
    border-radius: 24px;
    background-color: transparent;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 85px;
    outline: none;
    cursor: pointer;
    /* вставляем стрелочку */
    background: url(../images/arrow.svg) no-repeat right;
    background-position: 99%;
}

.select::-ms-expand {
    display: none;
}

.select:focus {
    outline: none;
    box-shadow: 0px 0px 0px 1px var(--color-brand), 0px 0px 5px var(--color-brand);
}

.select-wrapper {
    position: relative;
}

.select-wrapper::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: block;
    pointer-events: none;
}

option:disabled {
    color: var(--color-dark);
}

option:checked {
    color: var(--color-dark);
}
